.container {
     
    background: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(C:\Users\nu.MCP\Desktop\homework\asset\image);
    padding-bottom: 15px;
}
.main {
    width: 960px;
    background-color: #666666;
    margin-bottom: 150px;
    background: #ffffff;
    border-color: #cccccc;
    text-align: left;
    /* padding-bottom: 550px; */
}

.header {
    background: white;
    
}
.head {
    background: #4aaaa5;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h1 {
    background: #4aaaa5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#ffffff;
    padding: 15px;
}
.naviation {
    background: chartreuse;
    text-align: right;
}

.about-image {
    margin: 1.66%;
    width: 25%;
    float: left;
    margin-top: 0;
    
}
.h11 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4AAAA5;
    margin: 30px;
    margin-top: 90px;
    padding-top: 30px;
    margin-left: 50px;
}
.a {
    text-indent: 50px;
}
.spacer450 {
    width: 450px;
    
}
.nameinput {
    width: 900px;
    padding: 5px;
}
.emailinput {
    width: 900px;
    padding: 5px;
}
.messaseinput {
    width: 900px;
    padding: 70px;
}
.submit {
    background: #4aaaa5;
    padding: 10px;
    width: 90px;
    margin: 30px;
    color: #ffffff;
}

a:link {
    text-decoration: none;
}
a:hover{
    color: #4aaaa5
}
.tx {
    position: absolute;
    background-color:  #4aaaa5;
    color: #ffffff;
    text-align: center;
    /* margin: 10px; */
    padding: 10px;
    width: 230px;
    margin-top: -80px;
    margin-left: 40px;

}
.im {
    position: relative;
    margin: 10px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item {
    text-align: right;  
    padding-left: 2mm;
}
.card-imge {
margin: 10px;
width: 250px;
}
.content {
    padding-bottom: 150px;
    margin: ;
}
.form {
    margin: 30px;
}
.footer {
    padding: 20px;
    margin: 0;
    background: #666666;
    border-top: outset;
    border-top-color: #4aaaa5;
    border-top-width: 5px;
}