.container {
     
    background: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(C:\Users\nu.MCP\Desktop\homework\asset\image);
}
.main {
    width: 960px;
    background-color: #666666;
}

.header {
    background: white;
    display: flex;
    /*align-items: left;*/
    /*justify-content: space-evenly;*/
    width: 960px;
    
}
.head {
    background: #4aaaa5;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h1 {
    background: #4aaaa5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#ffffff;
    padding: 15px;
}
.naviation {
    background: chartreuse;
    text-align: right;
}
.main {
    width: 960px;
    background: #ffffff;
    border-color: #cccccc;
    text-align: left;
}
.about-image {
    margin: 0;
    width: 200px;
    
}
.footer {
    padding: 20px;
    margin: 0;
    background: #666666;
    border-top: outset;
    border-top-color: #4aaaa5;
    border-top-width: 5px;
}
.h11 {
   /* background: #4aaaa5;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4AAAA5;
}
.spacer450 {
    width: 450px;

}
.nameinput {
    width: 900px;
    padding: 5px;
}
.emailinput {
    width: 900px;
    padding: 5px;
}
.messaseinput {
    width: 900px;
    padding: 70px;
}
.submit {
    background: #4aaaa5;
    padding: 10px;
    width: 90px;
}

a:link {
    text-decoration: none;
}
a:hover{
    color: #4aaaa5
}

.item {
    text-align: right;  
    padding-left: 2mm;
}
.card-imge {
    margin: 0;
    width: 250px;
}
.myimg {
    white-space: pre-line;
}